# Node modules
node_modules/

# Entorno
.env

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# Directorios de build / producción
dist/
build/

# Cobertura de tests
coverage/

# IDEs/editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas de uploads generados en runtime
uploads/
uploads/typhogray/
uploads/typography/
uploads/fonts/

# Railway
.railway/

# Cache o dumps
*.rdb
*.redis
*.sql
*.sqlite*
*.dump
*.bak

# Archivos generados

# Otros
*.swp
*.tmp